.login-bg-color{
    min-height: 760Px;;
    background-color: white;
}
.login-form{
    border:1px solid #ABABAB;
    border-radius:5px;
    margin-left:30%;
    margin-top:5%;
    width: 40%;
}
.login-form input{
    border:none;
    border-bottom: 1px solid #ABABAB;
}
.btn-width{
    width:95%;
}
.social-btn{
    width:95%;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-sizing: border-box;
    border-radius: 57px;
    cursor: pointer;
}
.social-img{
    width:25px;
}
.login-form-social{
    margin-left:30%;
    width: 40%;
}
.login-tag{
    cursor: pointer;
    text-decoration: underline;

}